@media screen and (max-width: 992px) 
{
    a.play i{
        top: 30%;
    }
    .box-items{
        display: none !important;
    }
        /* content4 */
    .circle2{
        display: none;
    }
    .profile{
        text-align-last: center;
    }
    /* HEADER */
    nav.navbar{
        background: #0c5adb !important;
    }
    .dropdown .nav-link{
        font-size: 17px !important;
        font-weight: 500;
        color: #232323 !important;
    }
    a.navbar-brand{
        font-weight: 500;
        font-size: 25px;
    }
    .dropdown .nav-link:hover{
        color: #232323 !important;
    }
    /* BANNER */
    .banner-img{
        height: 400PX;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner-caption h1, .banner-caption{
        font-size: 30px;
    }
    .banner-caption .btn.btn2{
        display: none;
    }
    /* CONTENT-1 */
    .content-1 .container .flip-box{
        width: 50%;
    }
    .content-1 .container{
        display: block;
    }
    .content-1 .container .flip-box{
        width: 100%;
        height: 250px;
        bottom: auto;
        margin: auto;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 600px) {
    .ct13-head{
        display: block !important;
    }
    .slider-ct13 section .img img{
        height: auto;
        max-width: 300px !important;
    }
    .left,.right{
        height: 30px !important;
        width: 30px !important;
    }
}
@media screen and (max-width: 600px) 
{
    .items-ct11{
        box-sizing: content-box;
        height: 378px;
        width: 330px !important;
    }
    .slider section{
        scroll-snap-align: start;
    }
    a.play i{
        top: 10%;
        left: 40%;
        font-size: 60px;
    }
    /* content2 */
    .content-2-img{
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .content-2-img img:nth-child(2){
        position: unset;
    }
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    /* Content-4 */
    .content4-text{
        text-align-last:center;
        justify-content: center;
        display: block;
        margin: auto;
    }
    .profile img{
        max-height: 300px;
    }

    /* BANNER */
    .carousel-control-prev.banner-control, .carousel-control-next.banner-control{
        display: none;
    }
    .banner-caption h1, .banner-caption{
        text-align: center;
        font-size: 30px;
    }
    .banner-caption{
        color: #fff;
        position: absolute;
        justify-content: center;
        left: 5%;
    }
    /* CONTENT-1 */
    .content-1{
        display: block;

    }
    .content-1 .flip-box {
        width: 100%;
        height: 250px;
        bottom: auto;
        margin: auto;
        margin-bottom: 10px;
    }
    .content-2-img img:nth-child(1){
       display: none;
    }

    .content-2-img img{
        max-width: 300px;
    }

}
@media screen and (max-width: 1200px){
     /* content4 */
    .content-4-desktop .profile{
        display: none !important;
    }
    /* content-2 */
    .content-2-img{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .circle2{
        z-index: -1;
    }
}
@media (max-width: 767px) {
    .carousel-inner.content6-slider .carousel-item > div {
        display: none;
    }
    .carousel-inner.content6-slider .carousel-item > div:first-child {
        display: block;
    }
}
.carousel-inner.content6-slider .carousel-item.active,
.carousel-inner.content6-slider .carousel-item-next,
.carousel-inner.content6-slider .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) 
{
    
    .carousel-inner.content6-slider .carousel-item-end.active,
    .carousel-inner.content6-slider .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner.content6-slider .carousel-item-start.active, 
    .carousel-inner.content6-slider .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner.content6-slider .carousel-item-end,
.carousel-inner.content6-slider .carousel-item-start 
{ 
  transform: translateX(0);
}